<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='forgot.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">
                <div class="logo">
                    <img src="{{url_for('static', filename='flower.svg')}}" alt="" id="flower">
                    <img src="{{url_for('static', filename='text.svg')}}" alt="Bloom" id="flowerText">
                </div>
            </a>
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="/activites">Activites</a>
            <a href="/community">Community</a>
            <a href="/profile"><img src="{{url_for('static', filename='profile_logo.svg')}}" alt="Profile" width="50px"></a>
        </nav>
        <h1>Forgot password</h1>
        <form action="https://www.youtube.com/watch?v=xvFZjo5PgG0" method="post" id="forgotForm">
            <label for="einput">E-Mail: <br></label>
            <input type="email" class="textField" required><br>
            <input type="submit" value="Sign up" id="submit">
        </form>
    </div>
</body>
</html>