<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Bloom</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">
                <div class="logo">
                    <img src="{{url_for('static', filename='flower.svg')}}" alt="" id="flower">
                    <img src="{{url_for('static', filename='text.svg')}}" alt="Bloom" id="flowerText">
                </div>
            </a>
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="/activities">Activites</a>
            <a href="/community">Community</a>
            <a href="/profile"><img src="{{url_for('static', filename='profile_logo.svg')}}" alt="Profile" width="50px"></a>
        </nav>
        <h1 class="title">Make the World a <br><span class="better">Better</span> Place</h1>
        <p class="title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quidem dicta sequi vitae, repellendus ullam inventore tempora, quod quam fugit dignissimos nisi consectetur labore distinctio assumenda id fuga at autem.</p>
        <h1 class="title">Two Words</h1>
        <p class="title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quidem dicta sequi vitae, repellendus ullam inventore tempora, quod quam fugit dignissimos nisi consectetur labore distinctio assumenda id fuga at autem.</p>
        <h1 class="title">Start to be climate-aware</h1>
        <div class="buttons">
            <button class="login" onclick="location.href = '/login';">Log in</button>
            <button class="signup" onclick="location.href = '/signup';">Sign up</button>
        </div>
    </div>

</body>
</html>